.h5{height: 795px;
    padding: 0;
    margin: 0;
    background:url(./6.jpg) 0 0 no-repeat scroll transparent;
background-size:cover;
}
.n1{
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
}

.n2{
    text-align: center;
    font-size: 1.5em;
}