.h5{height: 795px;
    
    padding: 0;
    margin: 0;
    background:url(./1.jpg) 0 0 no-repeat scroll transparent;
background-size:cover;
}
.h1{
    font-size: 2em;
    text-align: center;
    font-style: italic;
}
.s{
    font-size: 1.5em;
    text-align: center;
}
.c{
    font-size: 1.5em;
   text-align: center; 
}
.h2{
    float: left;
}
.h3{
    height: 40px;
    font-size: 30px;
    background-color: rgb(201, 154, 93);
}


